body {
  background-image: url("../img//bgHome.png");
  position: relative;
  min-width: 100%;
  min-height: 900%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  overflow: hidden;
  height: 90%;
}

.quote {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

.name {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.lginbtn {
  top: 60%;
  left: 50%;
  position: fixed;
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid #f0f0f0;
  display: inline-block;
  text-decoration: none;
  padding: 9px 24px;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  color: black;
  width: 25vh;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
