html {
  background-color: black;
}

.logo-placeholder .right {
  direction: rtl;
  color: white;
  margin-left: 85%;
  font-family: "Josefin Sans", sans-serif;
  font-size: large;
  cursor: default;
}

.right {
  transform: translate(-50%, -50%);
}

.base {
  margin-top: 0%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 4%;
  background-color: black;
}

.navBrand {
  text-decoration: none;
  list-style-type: none;
  font-family: "Jost", sans-serif;
  color: indianred;
  cursor: default;
  text-emphasis: none;
  text-decoration: none;
  color: white;
  font-size: large;
}

.navBrand:hover {
  animation-name: brand;
  animation-duration: 1s;
  width: fit-content;
  animation-iteration-count: infinite;
}

@keyframes brand {
  0% {
    color: indianred;
  }
  5% {
    color: red;
  }
  10% {
    color: orangered;
  }
  15% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  25% {
    color: yellowgreen;
  }
  30% {
    color: beige;
  }
  35% {
    color: antiquewhite;
  }
  40% {
    color: ivory;
  }
  45% {
    color: azure;
  }
  50% {
    color: brown;
  }
  55% {
    color: burlywood;
  }
  60% {
    color: blanchedalmond;
  }
  65% {
    color: aliceblue;
  }
  70% {
    color: crimson;
  }
  75% {
    color: cadetblue;
  }
  80% {
    color: coral;
  }
  85% {
    color: palegoldenrod;
  }
  90% {
    color: orchid;
  }
  95% {
    color: lightcoral;
  }
  100% {
    color: rosybrown;
  }
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}