.background {
  /* The image used */
  background-image: url("./image/pic3.png");

  min-height: 970px;

  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  /* Needed to position the navbar */
  position: relative;
  overflow: hidden;
}

ul li{
    text-decoration: none;
    list-style: none;
}

.data {
  margin-left: 20%;
  margin-top: 4%;
  text-decoration: none;
  font-family: 'Oxygen Mono',monospace;
}

.data2 {
    margin-left: 20%;
    text-decoration: none;
    font-family: 'Oxygen Mono',monospace;
  }
  
.kosong{
  margin-top: 20%;
  margin-left: 44.5%;
  font-size: medium;
  font-family: 'Oxygen Mono',monospace;
  text-transform: uppercase;
  transition: .5s;
}

.kosong::before{
}
.kosong:hover{
  animation-name: hover;
  animation-duration: 1s;
  width: fit-content;
  animation-iteration-count: infinite;
}

@keyframes hover{
  0% {color: red;}
  14% {color: orangered;}
  28% {color: orange;}
  42% {color: yellow}
  56% {color: orange;}
  70% {color: orangered;}
  84% {color: red;}


}