.base {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-logo {
  
  pointer-events: none;
}

.navbar {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar-login {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.block {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.block:hover {
  background-color:red;
}

.status {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
}

.kategori {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.menus {
  display: block;
  color: yellow;
  padding: 9px 16px;
  text-decoration: none;
}

.menus:active {
  background-color: #4CAF50;
}

.menus:hover:not(.active) {
  background-color: red;
}

